.body {
  min-width: 300px;
}
/* 顶部导航 */
.navbar {
  position: absolute;
  top:0;
  left:0;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 800;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ccc;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-default .navbar-brand {
    color: #666;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #222;
    background-color: transparent;
  }
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #666;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: #fff;
  }
}
@media (max-width: 767px) {
  .navbar-header {
    background-color: #fff;
    margin-top: -1px;
  }
  .navbar-nav.navbar-right {
    background-color: #fff;
  }
  .navbar-nav.navbar-right li a {
    color: #666;
    font-weight: 800;
  }
  .navbar-nav.navbar-right li a:hover{
    color: #333;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 0px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
/* 头部 */
header {
  background: url(../img/home-bg.jpg) no-repeat center center;
  height: 448px;
  background-size: cover;
  position: relative;
}
@media (max-width: 767px) {
  header {
    height: 265px;
  }
}
header .header_center {
  position: absolute;
  color: #fff;
  text-align: center;
  height: 100%;
  padding: 150px 0;
  width: 100%;
}
header .header_center h1 {
  font-size: 80px;
}
header .header_center hr {
  max-width: 100px;
  margin: 15px auto;
  border:4px solid #fff;
}
header .header_center p {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media (max-width: 767px) {
  header .header_center {
    padding: 100px 0 50px;
  }
  header .header_center h1 {
    font-size: 50px;
  }
}
/* 内容区域 */
/* 文字列表区域 */
.container {
  width: 750px;
  padding: 0 15px;
  margin: 0 auto;
}
.containerList {
   width: 100%;
   padding-left: 0;
 }
.containerList li{
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.container a {
  display: block;
}
.container a h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  word-break: break-all;
}
.container a h3 {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
  word-break: break-all;
}
.container p {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  word-break: break-all;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .containerList {
    width: 100%;
    padding-left: 0;
  }
}
/* 翻页区域 */
.pager {
  width: 100%;
}
.pager a {
  border: 1px solid #ccc;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager a:hover {
  background-color: #337ab7;
  color: #fff;
}
.pager .prev {
  float: left;
}
.pager .next {
  float: right;
}
.pager div {
  display: none;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: fixed;
  top: 60%;
  left: 50%;
  margin-left: -100px;
  font-size: 14px;
}
/* 底部区域 */
footer {
  width: 100%;
  border-top: 1px solid #ccc;
}
footer .foot_top {
  text-align: center;
  margin-top: 50px;
}
footer .foot_top a {
  margin-right: 15px;
  display: inline-block;
  font-size: 40px;
}
footer p {
  text-align: center;
  font-size: 14px;
}